newProject(first real project)/newProject(first real project).xcodeproj/project.xcworkspace/xcuserdata/sagatelov.xcuserdatad/UserInterfaceState.xcuserstate
newProject(first real project)/newProject(first real project).xcodeproj/xcuserdata/sagatelov.xcuserdatad/xcschemes/xcschememanagement.plist
